.aboutus {
  padding: 40px;
  background-color: #f4f4f4;
  height: auto;
}

.aboutus-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  text-align: justify;
}

.team-section, .about-text {
  opacity: 0;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.team-section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(100%); 
}

.team-section h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  border-bottom: 2px solid #e0a96d;
  padding-bottom: 5px;
}

.team-section.visible-team{
  height:fit-content;
}

.team-member {
  flex-direction: column;
  height: 100%;
  align-items: center;
  display: flex;
}

.team-member img {
  width: auto;
  height: 35vh;
  align-items: center;
}

.team-member h3 {
  font-size: 18px;
  margin-top: 1.5vh;
  color: #222;
}

.team-member p {
  font-size: 14px;
  color: #666;
}

.about-text {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  transform: translateX(-100%); /* Başlangıçta solda */
}

.about-text h2 {
  border-bottom: 2px solid #e0a96d;
  margin-bottom: 20px;
  font-size: 24px;
  color:black;
  padding-bottom: 5px;
}

.about-text p {
  font-size: 14px;
  color: black;
  line-height: 1.6;
}

.visible-team {
  opacity: 1;
  transform: translateX(0); 
}

.visible-about {
  opacity: 1;
  transform: translateX(0); 
}

@media (max-width: 1024px) {
  .aboutus {
    padding: 20px;
  }

  .aboutus-content {
    flex-direction: column;
    gap: 20px;
  }

  .team-section, .about-text {
    width: 100%;
    padding: 15px;
  }

  .team-member img {
    width: 80%;
    margin-bottom: 10px;
  }

  .team-member h3 {
    font-size: 16px;
  }

  .team-member p {
    font-size: 12px;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .aboutus {
    padding: 15px;
  }

  .aboutus-content {
    flex-direction: column;
    gap: 15px;
  }

  .team-section {
    padding: 10px;
  }

  .team-section h2 {
    font-size: 1.8vh;
  }

  .team-member {
    height: 25vh;
  }

  .about-text {
    padding: 10px;
  }

  .team-member img {
    height: 20vh;
    width: auto;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .team-member h3 {
    font-size: 12px;
  }

  .team-member p {
    font-size: 8px;
  }

  .about-text h2 {
    font-size: 1.8vh;
    margin-top: 1vh;
  }

  .about-text p {
    margin-top: -1vh;
    font-size: 9px;
  }
}
