h2 {
    text-align: center; /* Başlığı ortalar */
    margin-top: 20px;   /* Başlık ile üst boşluk */
    font-size: 2rem;    /* Başlık boyutunu ayarlayın */
    color: #333;        /* Başlık rengi */
  }