.contactus {
  align-items: right;
  padding: 5vh;
  background-color: #f4f4f4;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.contactus h2 {
  font-size: 3vh;
  margin-bottom: 3vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 60vh;
  margin: 0 auto;
}

.contact-form label {
  font-size: 1.2em;
  margin-bottom: 0.8vh;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  padding: 1vh;
  margin-bottom: 1.5vh;
  font-size: 1em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5vh;
}

.contact-form button {
  padding: 1.5vh;
  background-color: #333;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .contactus {
    padding: 2vh; 
  }

  .contactus h2 {
    font-size: 2vh; 
  }

  .contact-form {
    max-width: 100%;
    padding: 1vh; 
  }

  .contact-form label {
    font-size: 1em; 
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9em; 
  }

  .contact-form button {
    font-size: 1em; 
  }
}

@media (max-width: 480px) {
  .contactus {
    padding: 1.5vh;
  }

  .contactus h2 {
    font-size: 2vh; 
  }

  .contact-form {
    padding: 0.5vh; 
  }

  .contact-form label {
    font-size: 0.9em; 
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.8em; 
  }

  .contact-form button {
    font-size: 0.9em; 
  }
}
