.home {
    position: relative;
    height: 70vh; 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertikal olarak ortalanır */
    padding: 5vw; /* Yüzde olarak padding */
    background-image: url("../assets/law-background.jpg"); /* Arka plan resmi */
    background-size: cover; /* Resmi konteynıra sığdırır */
    background-repeat: no-repeat; /* Arka planın tekrarlanmasını engeller */
    background-position: center; /* Arka planın ortalanması */
}

.home h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw; /* Font boyutu ekran genişliğine orantılı */
    color: #333; /* Yazı rengi */
    text-align: center;
    margin: 0; /* Margin'i sıfırla */
}

/* Ekran boyutuna göre responsive ayarlamalar */

/* Küçük ekranlar (max-width: 480px) */
@media (max-width: 480px) {
    .home {
        max-height: 18vh;
        width: auto; /* Yükseklik, ekranın %35'ine orantılı */
        padding: 8vw; /* Padding, ekran genişliğine orantılı */
    }

    .home h2 {
        font-size: 8vw; /* Font boyutu ekran genişliğine göre daha büyük */
    }
}

/* Orta küçük ekranlar (max-width: 768px) */
@media (max-width: 768px) {
    .home {
        height: 40vh; /* Yükseklik, ekranın %40'ına orantılı */
        padding: 7vw; /* Padding, ekran genişliğine orantılı */
    }

    .home h2 {
        font-size: 6vw; /* Font boyutu ekran genişliğine göre daha büyük */
    }
}

/* Orta büyüklükteki ekranlar (768px - 1200px arası) */
@media (min-width: 769px) and (max-width: 1200px) {
    .home {
        height: 45vh; /* Yükseklik, ekranın %45'ine orantılı */
        padding: 6vw; /* Padding, ekran genişliğine orantılı */
    }

    .home h2 {
        font-size: 5vw; /* Font boyutu ekran genişliğine göre ayarlanır */
    }
}

/* Büyük ekranlar (1200px ve üzeri) */
@media (min-width: 1200px) {
    .home {
        height: 70vh; /* Yükseklik, ekranın %50'sine orantılı */
        
        padding: 4vw; /* Padding, ekran genişliğine orantılı */
    }

    .home h2 {
        font-size: 3vw; /* Font boyutu ekran genişliğine orantılı */
    }
}
