* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:target {
  scroll-margin-top: 20vh;
}

.navbar-container {
  overflow: visible;
}

.navbar {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vh;
  position: sticky;
  top: 0;
  z-index: 10000;
  height: 12vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logopart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-container .logopart .navbar-logo {
  width: 27vh;
  height: auto;
}

/* Hamburger Menü İkonu */
.menu-toggle {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 12vh;
  left: -250px; /* Başlangıçta gizli */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Menü açıldığında görünür yap */
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a :hover{
  color: #ddc3a0;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease;
  gap: 1.5vh;
}

.navbar-links a {
  text-decoration: none;
  text-align: center;
  display: flex;
  padding: 1vh 1vh;
  border-radius: 0.5vh;
  color: black;
  font-size: 1rem;
}

.navbar-links a:hover {
  background-size: cover;
  background-color: #ddc3a0;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 2vh;
  background: #ddc3a0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5vh;
  padding: 1vh 2vh;
  z-index: 200;
}

/* Masaüstü için navbar */
@media (min-width: 800px) {
  .menu-toggle {
    display: none; /* Hamburger menü masaüstünde gizleniyor */
  }

  .sidebar {
    display: none; /* Sidebar masaüstünde gizleniyor */
  }

  .navbar-links {
    display: flex;  /* Masaüstünde navbar linkleri görünür */
  }

  .navbar-links li {
    margin-right: 2vh;  /* Linkler arasına mesafe ekliyoruz */
  }
}

@media (max-width: 800px) {
  .navbar-links {
    display: none; /* Navbar linkleri mobilde gizli */
  }

  .navbar {
    height: auto;
    padding: 1vh;
  }
}

@media (max-width: 500px) {
  .navbar-container .logopart .navbar-logo {
    width: 20vh;
    height: auto;
    margin-left: 1vh;
  }

  .navbar {
    height: 12vh;
    justify-content: space-between;
    padding: 1vh 2vh;
    display: flex;
    position: sticky;
  }

  .navbar-logo {
    width: 45%;
    height: 45%;
    margin-left: -50%;
  }

  .navbar-links {
    gap: 1vh;
  }
}
