* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:target {
  scroll-margin-top: 14.5vh;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Sol ve sağ öğeleri ayırmak için space-between kullanılıyor */
  align-items: center; /* Dikeyde ortalamak için */
  padding: 1vh 2vh;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 15vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.logopart {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Sol tarafa hizalamak için */
}

.navbar-logo {
  height: 8vh;
  margin-bottom: 2.3vh;
  max-width: 100%; /* Logo boyutunun taşmaması için max-width ekleniyor */
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease;
  gap: 1.5vh;
}

.navbar-links a {
  text-decoration: none;
  text-align: center;
  display: flex;
  padding: 1vh 1vh ;
  border-radius: 0.5vh;
  color: black;
  font-size: 1rem;
}

.navbar-links a:hover {
  background-size: cover;
  background-color: #ddc3a0;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 2vh;
  background: #ddc3a0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5vh;
  padding: 1vh 2vh;
  z-index: 20;
}

/* Mobile Menu Icon */
.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Başlangıçta gizli */
}

.menu-icon svg {
  fill: black;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25vh;
  background-color: #ddc3a0;
  box-shadow: -1vh 0 1vh rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 15;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar-close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 2vh;
}

.sidebar li {
  list-style: none;
  width: 100%;
  margin: 1vh 0;
}

.sidebar a {
  text-decoration: none;
  padding: 1vh;
  display: block;
  width: 100%;
  color: black;
  border-radius: 0.5vh;
}

.sidebar a:hover {
  background-color: #e0a96d;
}

/* Responsive Design */

/* For screens smaller than 800px */
@media (max-width: 800px) {
  .navbar-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .sidebar-toggle {
    display: flex;
  }

  /* Sidebar visibility on smaller screens */
  .sidebar {
    width: 100%;
  }

  .navbar {
    height: auto;
    padding: 1vh;
  }
}

/* For screens between 800px and 450px */
@media (min-width: 800px) {
  .sidebar-toggle {
    display: none;
  }

  .navbar-links {
    display: flex;
  }
}

/* For screens smaller than 450px */
@media (max-width: 500px) {
  .navbar {
    max-height: 7vh;
    justify-content: space-between;
    padding: 1vh 2vh;
    display: flex;
  }

  .navbar-logo {
    max-width: 40%;
    max-height: 40%;
    margin-left: -50%;

  }

  .navbar-links {
    gap: 1vh;
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: -20%; /* Sağda hizalamak için */
  }
}
