/* Genel Stil */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:target {
  scroll-margin-top: 70px;
}
body {
  min-height: 100vh;
  background: url('law-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.logopart {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  margin-right: 10px;
}

.logopart h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  transition: transform 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  text-align: center;
  display: flex;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
}

.navbar-links a:hover {
  background-color: #f0f0f0;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 20px;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 20;
}

/* Mobile Menu Icon */
.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-icon svg {
  fill: #000;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 15;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar-close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar li {
  list-style: none;
  width: 100%;
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 100%;
  color: black;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 800px) {
  .navbar-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .sidebar-toggle {
    display: block;
  }
}

@media (min-width: 800px) {
  .sidebar-toggle {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
