
/* Swiper container'ı */
.swiper {
  width: 90%; /* Genişliği %100 yaparak ekranı doldurur */
  height: auto; /* Yüksekliği otomatik ayarlar */
  display: flex; /* İçeriği flex olarak hizalar */
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  position: relative; /* Pagination'ın doğru yerleşmesi için */
}

/* Swiper slide */
.swiper-slide {
  font-size: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Resim ve başlığı dikey hizalar */
}

/* Swiper slide içerisindeki resim */
.swiper-slide img {
  display: block;
  width: auto;
  height: 40vh; /* Resmin yüksekliği */
}

/* Başlık */
.swiper-slide h3 {
  margin-top: 10px; /* Başlık için boşluk ekleyin */
  font-size: 14px;
  color: #000000; /* Başlık rengi */
  text-align: center;
  margin-bottom: 5vh;
}

/* Pagination'ı sayfanın alt kısmına sabitleme */
.swiper-pagination {
  position: absolute;
  bottom: 20px; /* Alt kısımda 20px mesafe */
  left: 50%;
  z-index: 999; /* Üstte görünmesini sağlamak */
  text-align: center;
}

/* Pagination bullets'ları arasındaki mesafeyi ayarlama */
.swiper-pagination-bullets {
  display: flex;
  justify-content: center; /* Yatayda ortalama */
}

/* Pagination bullets boyutu ve rengi */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ddc3a5;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 5px; /* Bullet'lar arasındaki boşluğu ayarlama */
}

/* Aktif bullet'ın rengi ve büyüklüğü */
.swiper-pagination-bullet-active {
  background-color: #e0a96d;
  opacity: 1;
  transform: scale(1.2); /* Aktif bullet'ı büyütme */
}

/* Navigation okları (sol ve sağ) için ayrı bir konumlandırma */
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  z-index: 999;
  transform: translateY(-50%); /* Yatayda tam ortalamak için */
}

/* Sol ok (Prev button) için pozisyon */
.swiper-button-prev {
  color: #e0a96d;
  left: 10px;
}

/* Sağ ok (Next button) için pozisyon */
.swiper-button-next {
  color: #e0a96d;
  right: 10px;
}
